body {
    background-color: rgba(0, 0, 0, 0.975);
}

.usuario,
.botao-acesso {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}

button {
    padding: 5px;
    width: 14%;
    height: 40px;
    background: #161616ed;
    border: 1px rgba(255, 0, 0, 0.521) solid;
    color: #ffff;
}

.mp3-audio {
    visibility: hidden;
}

.load2 {
    visibility: hidden;
}

.loadON2 {
    margin-left: 36%;
}